<h1>this form edits</h1>
<p><%= @post.name %>    </p>
<p><%= @post.content %></p>
<form action="/posts/<%= @post.id %>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="name">
  <input type="text" name="content">
  <input type="submit" value="submit">
</form>
